.section {
    height: 500px;
    background: url("../images/christmas-board.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.text {
    
    padding: 295px 5px 5px 20px;
    color: whitesmoke;
    font-family: cursive;
    font-weight: 300;
    font-size: 25px;
    font-style: normal;
    text-align: left;
    letter-spacing: 3px;
    text-shadow: 2px 2px black;  
}

.searchbox {
    position: absolute;
    left:0%;
    transform: translate(+15%, +15%);
    background:whitesmoke;
    height: 35px;
    font-size: 10px;
    border-radius: 20px;
    padding:5px; 
 
}

.search-text {
    border: none;
    font-size: 18px;
    font-family: 'Gill Sans';
    background: none;
    outline: none;
}

.results-heading {
    border: none;
    font-size: 25px;
    font-family: 'Gill Sans';
    background: none;
    outline: none;

}

.results {
    border: none;
    text-indent: 5px;
    font-size: 18px;
    font-family: 'Gill Sans';
    background: none;
    outline: none;

}